input {
  display: block;
}

body {
  width: 100%;
}

body {
  margin: 0 auto;
  background-color: gray;
}

img {
  width: 300px;
  margin: 20px auto;
  border: 5px solid black;
}

.image-list {
  position:relative;
}

.meme-card {
    position: absolute;
    top: 5%;
    right: 50%;
    z-index: 1;
    background-color: aquamarine;
}

p {
  color: white;
  font-size: 35px;
  font-weight: bolder;

}

.top-text {
  position: absolute;
  top: 25%;
  right: 35%;
}

.bottom-text {
  position: absolute;
  bottom: 10%;
  right: 35%;
}

header {
  text-align: center;
}

.hidden {
    display: none;
}
